.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #091450;
  height: 100vh;
  color: "#fff";
}
